/* Style of the form, which should be centered. */
form {
  margin: 0 auto;
}

/* Style of the form divs */
.form_div {
  width: 50%;
  margin: 0 auto;
}
.form_btn {
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}
/* Style of paragraphs within the form */
.form_p {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

/* Style the labels */
label {
  color: #444444;
  font-family: Poppins, Helvetica, Arial, "san serif"; /* fallback fonts set */
  font-weight: 500;
  font-size: 0.9rem;
  text-transform: uppercase;
  line-height: 1.2rem; /* breathing room between lines */
  margin-top: 1rem;
}

/* Style the inputs */
input,
textarea,
select {
  color: #464b46;
  font-family: Poppins, Helvetica, Arial, "san serif"; /* fallback fonts set */
  font-weight: 300;
  font-size: 0.9rem;
  line-height: 1.2rem; /* breathing room between lines */
  margin-top: 1rem;
}

/* Style for labels */
label {
  display: inline-block;
}

/* Make inputs block level and give them a simple underline border and background color */
input {
  background-color: #f8f4f1;
  display: block;
  border-top: none;
  border-left: none;
  border-right: none;
}

/* Style the text, email, and telephone inputs */
input[type="text"],
input[type="email"],
input[type="tel"] {
  width: 100%;
  height: 2rem; /* make input boxes taller */
}

/* Style the textarea to be full container width and same styling as inputs */
textarea {
  width: 100%;
  height: 10rem;
  background-color: #f8f4f1;
  display: block;
  border-top: none;
  border-left: none;
  border-right: none;
}

/* Style the form's submit button */
input[type="submit"] {
  color: #36352f;
  background-color: #e76f51;
  font-family: "Karla", Helvetica, Arial, "san serif"; /* fallback fonts set */
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 1.4rem;
  padding: 1rem;
  border-style: solid;
  border-radius: 1.5rem;
  border-color: #36352f;
}

input[type="submit"]:hover {
  background-color: #b73818;
}

/* Style the feedback spans */
.feedback,
.pos_feedback,
.neg_feedback {
  display: block;
  visibility: hidden; /* defaults to hidden */
  font-family: Poppins, Helvetica, Arial, "san serif"; /* fallback fonts set */
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.2rem;
}

/* Style the positive feedback spans */
.pos_feedback {
  visibility: visible; /* un-hide feedback */
  color: #32a532;
}

/* Style the negative feedback spans */
.neg_feedback {
  visibility: visible; /* un-hide feedback */
  color: #d41d1d;
}

/* Style the travel quiz form */
/* form#travel_quiz {
  background-color: #f8f4f1;
  margin: 1rem;
  padding: 2rem;
  text-align: left;
  margin: 1.4rem auto;
  width: 45%;
  border-radius: 20px;
} */

/* Use Flexbox to align labels left and selects right */
.flex_form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* Style of the text in the selector boxes on the quiz form */
.quiz_selector {
  text-align: right; /* to be right aligned */
}

/* Style of the button on the travel quiz */
#travel_quiz button {
  background-color: #f8f4f1;
}

/* Hover style of the button on the travel quiz */
#travel_quiz button:hover {
  background-color: #f17f6a;
}

p {
  display: flex;
  justify-content: center;
}
