.nave {
    list-style-type: none;
    margin-right: 0;
    overflow: hidden;
    background-color:rgb(251, 235, 117);
    font-family: Poppins, Helvetica, Arial, "san serif"; /* fallback fonts set */
    font-size:20px;
    line-height: 25px;
    padding: 10px;
    text-align:center;
    text-decoration: none;
  }

  .nav {
    float: left;
  }

  .nav a {
    display: block;
    color: rgb(65, 11, 11);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .nav a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    background-color: rgb(146, 83, 34);
  }

  .active {
    background-color: rgb(228, 90, 56);
  }